.btn-purple {
  background: #927297;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
}

.btn-purple:hover {
  background: #f0f0f1;
  border-color: #0a4b78;
  color: #0a4b78;
}

.btn-green {
  background: #37A965;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
}

.btn-green:hover {
  background: #f0f0f1;
  border-color: #0a4b78;
  color: #0a4b78;
}

.dashicons {
  display: none;
}

.confection_wrapper div{
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

select + span {
  display: block;
  margin-top: 10px;
}

select + span strong {
  display: inline-block;
  background: #ddd;
  padding: 10px 15px;
  margin-top: 10px;
}

select + span em {
  display: block;
}

#confection-form label {
  display: inline-block;
  width: 12rem;
}


#confection-form .form-type-select span {
  margin-left: 12rem;
}

#confection-form .description {
  margin-left: 12rem;
}

#confection-form .inline-btn {
  display: inline-block;
  margin-right: 1.5em;
}

.oi.circle {
  border-radius: 50%;
  border: 1px solid #fff;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.oi-account-login {
  padding-top: 4px;
}

.inline-label {
  display: inline-block;
  width: 15em;
  vertical-align: top;
  padding-top: 10px;
  font-weight: bold;
}

.form-item-analytics {
  display: inline-block;
  width: 700px;
}

.form-item-analytics .description {
  margin-left: 0 !important;
}