{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}

<script>
    var confection_url = '{{ path('confection.confection_controller_cable') }}',
    confection_account_id ="{{content.account_id}}";
    window.addEventListener("ConfectionReady", function () {

      //set consent
      confection.setPrivacy("{{content.privacy_approach}}");
      confection.setBannerPosition("{{content.position}}");
      // Translate Strings
      {% autoescape %}
      confection.i18n = {{ content.tstring|json_encode|raw}}
      {% endautoescape %}
      //set analytics
      {{ content.analytics }}

    });
</script>
{{ attach_library('confection/confection') }}
